{% if site.add_permalinks %}
<script>
var headers = ["h1", "h2", "h3", "h4"]

// Lighter to darker as links get smaller (harder to see)
// 链接越小（越难看到），从暗到亮
// var colors = ["#cdb8ef", "#bb98f5", "#935feb", "#7c3aed"]
var colors = ["#8000ff", "#8000ff", "#8000ff", "#8000ff"]

$.each(headers, function(i, header){
    var color = colors[i];
    $(header).each(function () {
        text = $(this).text();
        if (text != "") {
          var href=$(this).attr("id");
          $(this).append('<a class="headerlink" style="color:' + color + '" href="#' + href + '" title="Permanent link">✨ℹ️🌐📢⚕️ </a>')
        }
    });
})
</script>
{% endif %}
